In [ ]:
anaconda install Python
-----------------------
|-- by default data analytics | ML lib
|-- Ipython - GIL diabled - real multithreading

VS

python.org
    ------
|-- can do only python program
    pip install numpy
|-- CPython - GIL enabled - Single threaded env

In [ ]:
Object->  class-> object
10  10.0  True None 'hgfdjg'  // objects

In [1]:
print(type(10),type(10.0),type('10'))

<class 'int'> <class 'float'> <class 'str'>

In [2]:
hex(id(10))

'0x7ffe8c71b4c8'

In [4]:
a=10
b=7+3
c=4+6
print(hex(id(a)))
print(hex(id(b)))
print(hex(id(c)))

0x7ffe8c71b4c8
0x7ffe8c71b4c8
0x7ffe8c71b4c8

In [ ]:
Procedural style code - direct approach var=10
                                         def f1():
                                             ...
Object oriented - object  based approach  ( ex: obj.var=10
                                                 obj.f1()==> method)
Functional style - higher order - function(anotherfunction)
-------------------------// Single line code -> ML - this not block style
fa(Fb,..)-> Fa result

In [5]:
L=[] # empty code
def f1(a):
    return a+100
for var in range(1,11):
    r=f1(var)
    L.append(r)
print(L)
# procedural style

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [6]:
list(map(lambda a:a+100, range(1,11)))
# functional style

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [ ]:
Python native type- class
int float complex
bool NoneType
str bytes list tuple dict set

In [8]:
var=10 #initialization
print(type(var),var)
print(type(10.0),10.0)

<class 'int'> 10
<class 'float'> 10.0

In [9]:
print(type(123243265725272262726276287262872622772))

<class 'int'>

In [10]:
print(type(123243265725272262726276287262872622772.3363))

<class 'float'>

In [12]:
#int , float-> int, float
print(10+20)
print(10+20.0)

30
30.0

In [14]:
# typecast to int -> int()  -> int value
# typecast to float -> float() -> float value

print(float(45)) 
print(int(33343.3332))

45.0
33343

In [15]:
cost=223.323
int(cost * 0.18)

40

In [ ]:
# arithmetic operator
#  + - * / // **   input type int,float-->int,float

In [18]:
print(type(True), type(False))
print(bool(1), bool(-1), bool(1.0), bool('abc'))
print(bool(0), bool(0.0), bool(''), bool([]), bool(()), bool({}), bool(None))

<class 'bool'> <class 'bool'>
True True True True
False False False False False False False

In [21]:
if(1):    # Conditional statements 
    print("Yes- True Block") # True statements
else:
    print("No- False Block")

Yes- True Block

In [22]:
if(0):
    print("Yes- True Block") # True statements
else:
    print("No- False Block")

No- False Block

In [23]:
my_name= input("Enter the name") # str 
        # STDIN     |
            #  ---------------
            # STDOUT

Enter the name Theeba

In [25]:
print(my_name, type(my_name))

Theeba <class 'str'>

In [26]:
my_name= input("Enter name")
if(my_name):
    print("Hello- ",my_name) # True statements
else:
    print("Sorry input name is missing")

Enter name hari

Hello-  hari

In [27]:
my_name= input("Enter name")
if(my_name):
    print("Hello- ",my_name) # True statements
else:
    print("Sorry input name is missing")

Enter name

Sorry input name is missing

In [ ]:
Task
====
Read the Employee details from User
           |--> ( emp_name, emp_no, emp_dept, emp_city, emp_cost)--> determine type of variables -> type(emp_cost)-> str
display the Employee details
|--------|
    Typecast emp_cost(str)--> float  -> To avoid TypeError
    calculate 18 % increment to the cost
      display the incremented emp_cost

In [35]:
var=10
#print(Var) # NameError
a='10'
print(a,type(a))
a=int(a)* 0.18

10 <class 'str'>

In [38]:
emp_name=input('Enter name')
emp_no=input('Enter No')
emp_dept=input('Enter Department')
emp_city=input('Enter City')
emp_cost=int(input('Enter Cost'))  # print(type(emp_cost))--> int           emp_cost= int('1000')

print("Name: ", emp_name)
print("No: ", emp_no)
print("dept: ", emp_dept)
print("City: ", emp_city)
print("Cost: ", emp_cost)


print("""
Name: {}
No: {}
Dept:{}
City:{}
Cost:{}
""".format(emp_name,emp_no,emp_dept,emp_city,emp_cost))


print(f"""
Name: {emp_name}
No: {emp_no}
Dept:{emp_dept}
City:{emp_city}
Cost:{emp_cost}
""")

emp_cost = emp_cost + (emp_cost *0.18)    # emp_cost = int(emp_cost) + (int(emp_cost) * 0.18)

print("Incremented Cost :" , emp_cost)

Enter name Hari
Enter No 101
Enter Department Sales
Enter City Pune
Enter Cost 1000

Name:  Hari
No:  101
dept:  Sales
City:  Pune
Cost:  1000

Name: Hari
No: 101
Dept:Sales
City:Pune
Cost:1000


Name: Hari
No: 101
Dept:Sales
City:Pune
Cost:1000

Incremented Cost : 1180.0

In [ ]:
# string - collection of char - '..'  (or) ".."  - type('') - immutable

In [28]:
s1='Hello'
s2="Python"
s3=''' This is
multiline
string
'''
s4=""" List of Servers
Linux
Oracle Linux
"""
print(type(s1), type(s2), type(s3), type(s4))

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [29]:
print(s3)

 This is
multiline
string

In [30]:
""" This 
is 
Multiline
comment"""

' This \nis \nMultiline\ncomment'

In [31]:
# len(collection) -> int
len(s4),len('')

(36, 0)

In [39]:
# str operator
#  str1 + str2 + str3... strN -> out_str
print(10+20)
print("Hello" + "Python" + str(3.11) + "version")

30
HelloPython3.11version

In [40]:
# intstring   *  n (int)   -> out_str
"Hello" * 3

'HelloHelloHello'

In [41]:
#Relational Operator- 1 test condition
#  ==   !=   <   >   <=    >= (inputs: int, float, str)--> output(bool)
1354.33 > 30

True

In [ ]:
# Logical Operator
#-----------------
# and  not  or  (  inputs: int,float,str)--> output(bool)

# In Single conditional statement, test more than 1 conditions  // use logical opr

# test range of port 5000 - 5999

port= 5678
port > 5000       and           port < 5999

In [ ]:
and
----
condition1  condition2  result
True         True         True
True         False        False
False         True        False
False        False         False

In [42]:
sh_name=input("Enter shell name")
sh_name== "bash" or  sh_name=="sh"  or sh_name=="ksh"

Enter shell name sh

True

In [43]:
sh_name=input("Enter shell name")
sh_name== "bash" or  sh_name=="sh"  or sh_name=="ksh"

Enter shell name ksh

True

In [44]:
sh_name=input("Enter shell name")
sh_name== "bash" or  sh_name=="sh"  or sh_name=="ksh"

Enter shell name bash

True

In [ ]:
or
===
condition1  condition2   result
True         True        True
True         False        True
False        True         True
False        False        False

In [45]:
not True

False

In [46]:
not False

True

In [47]:
#membership operators ( input : str, bytes, list, tuple, dict) --> (output: bool)
# in   not in
# pattern_str in collection -> bool
"sales"  in "arun,101,sales,pune,1000"

True

In [48]:
if("sales"  in "arun,101,sales,pune,1000"):
    print("Yes- Dept Sales exist")
else:
    print("Sorry dept Sales is not exist")

Yes- Dept Sales exist

In [ ]:
# Looping statement
1. conditional style - while keyword
2. collection style - for keyword

1. condition style - while

    rule 1: Initialization i=0  j=15 k=10
    rule 2: condition      i<5   j>10  k<100
    rule 3: Arithmetic     i=i+1   j=j-1  k=k+1

initialization
while(condition):
    <code block>
    arithmetic

In [49]:
i=0
while(i<5):
    print(' i value is: ' , i)
    i=i+1

 i value is:  0
 i value is:  1
 i value is:  2
 i value is:  3
 i value is:  4

In [50]:
while(False):
    print('Hello')

In [ ]:
for member in collection:
    <code block>

In [51]:
for v in "hello":
    print(v)

h
e
l
l
o

In [ ]:
break-  exit from Loop
continue- wont exit from loop, ignore the remaining iteration - continue the loop

In [52]:
for v in "hello":
    if v == "e":
        break
    else:
        print(v)

h

In [53]:
for v in "hello":
    if v == "e":
        continue
    else:
        print(v)

h
l
l
o

In [ ]:
Task
====
Write a program
Step 1: Initialize pin number ( ex: pin=1234)
Step 2: Use while loop to iterate following statements thrice
-------> (i) Read the Input pin
-------> (ii) Compare input pin with existing pin
-------> (iii) If both pin match , display - pin number is matched at count  & exit from loop(break)
-------> (iV) If all attempts doesnot match, display - Your pin is blocked

In [57]:
pin=1234
count=0
while(count < 3):
    count = count + 1    # count+=1   compound assignment
    p=int(input("Enter the Pin:"))
    if(p == pin):
        print(f"Success - pin is matched at -{count}")
        break

if(p != pin):
    print("Sorry Your pin is Blocked")

Enter the Pin: 3232
Enter the Pin: 32323
Enter the Pin: 323223

Sorry Your pin is Blocked

In [58]:
pin=1234
count=0

while(count < 3):
    count = count + 1    # count+=1   compound assignment
    p=int(input("Enter the Pin:"))
    if(p == pin):
        print(f"Success - pin is matched at -{count}")
        break

if(p != pin):
    print("Sorry Your pin is Blocked")

Enter the Pin: 232321
Enter the Pin: 1234

Success - pin is matched at -2

In [59]:
# product
#  |-- product_name, productCost, productID
pname= 'pA'
pcost= 100.22
pid=11
pstatus= True

print(f" Product Name :{pname} Cost is {pcost} Product ID:{pid}  status:{pstatus}")

 Product Name :pA Cost is 100.22 Product ID:11  status:True

In [60]:
#list- Collection of diffrent type value
# listname=[<list of items>]
product_details=[pname,pcost,pid,pstatus]  # index -> 0 to len(L)-1
#                 0     1    2    3
product_details

['pA', 100.22, 11, True]

In [61]:
print(f" Product Name :{product_details[0]} Cost is {product_details[1]} Product ID:{product_details[2]}  status:{product_details[3]}")

 Product Name :pA Cost is 100.22 Product ID:11  status:True

In [62]:
# tuple - collction of different type values
# tuple_name=(<list of items>)
product_details=(pname,pcost,pid,pstatus)
product_details

('pA', 100.22, 11, True)

In [65]:
print(f" Product Name :{product_details[0]} Cost is {product_details[1]} Product ID:{product_details[2]}  status:{product_details[3]}")

 Product Name :pA Cost is 100.22 Product ID:11  status:True

In [ ]:
List- mutable - we can add new data/ modify / delete data  - index based - allows duplicates
Tuple-immutable  - cant add/modify/delete  - index based - allows duplicates

In [ ]:
List- mutable 
To add new data:-   Listname.append(value)-> None
                    Listname.insert(index,value) -> None
To modify existing:-  Listname[oldindex] = updated_value
To delete an existing data :-  Listname.pop() -> removes last elemnt
                                Listname.pop(index)---> removed element

In [68]:
L=[1,2,3,4,5]
L.pop()

5

In [69]:
print(L)
L.pop(2)

[1, 2, 3, 4]

3

In [70]:
L

[1, 2, 4]

In [ ]:
help([]) (or) help(L)  (or) help(list)

In [71]:
help([])

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(object, /)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [72]:
help(()) # help(tuple)

Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(object, /)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
Task
====
Step 1: create an empty list
Step 2: Display the size of List
Step 3: Using While loop 5 times
            |-Step 4: Read the Hostname from User.
            |-Step 5: Add the Hostname to List
Step 6: Display the List content using for loop
Step 7: display the Size of list

In [77]:
hosts=[]
print(f"No of Hosts:{len(hosts)}")

c=0
while(c<5):
    h= input("Enter Hostname")
    hosts.append(h)
    c=c+1
print("\nList of Hostnames:")
for var in hosts:
    print(f'Host Name: {var}')
print(f"No of Hosts:{len(hosts)}")

No of Hosts:0

Enter Hostname Host01
Enter Hostname Host02
Enter Hostname Host03
Enter Hostname Host04
Enter Hostname Host05

List of Hostnames:
Host Name: Host01
Host Name: Host02
Host Name: Host03
Host Name: Host04
Host Name: Host05
No of Hosts:5

In [73]:
L=[] # empty list
print(L,type(L))

[] <class 'list'>

In [80]:
'''
Collection
|-- index based - str, bytes, list, tuple  - list is mutable
|-- Key based - dict -  Key:value // data - dict is mutable
                set  - collection of keys // Not index; Not keys-> value
'''
pname= 'pA'
pcost= 100.22
pid=11
pstatus= True

product_details1=[pname,pcost,pid,pstatus]  # list

product_details2=(pname,pcost,pid,pstatus)  # tuple

product_details3={'K1':pname, 'K2':pid, 'K3':pstatus, 'K4': pcost} # dict
product_details3

{'K1': 'pA', 'K2': 11, 'K3': True, 'K4': 100.22}

In [81]:
print(product_details1[0])   
print(product_details3['K1'])

pA
pA

In [82]:
product_details1[0]="PPB"
product_details3['K1'] ="PPC"

In [84]:
print(product_details1[0])   
print(product_details3['K1'])

PPB
PPC

In [ ]:
# add new data to dict

dictname.setdefault(newkey,newValue) --> 1
(or)
dictname['newkey']=newValue  ----> 2   vs    dictname['oldkey']= updated_value  ==> modification

In [ ]:
To delete an existing value from dict
dictname.pop('oldkey')-> removed _value

In [85]:
emp={} # empty dict
emp['eid'] = 'A101'
emp['ename'] = 'Arun'
emp['dept'] = 'Sales'
emp

{'eid': 'A101', 'ename': 'Arun', 'dept': 'Sales'}

In [86]:
emp['dept']= 'HR'   # modification
emp

{'eid': 'A101', 'ename': 'Arun', 'dept': 'HR'}

In [ ]:
list,tuple,dict

list of list/tuple/dict   =>  [[],(),{}]
tuple of list/tuple/dict =>  ([],(),{})
dict of list/tuple/dict => {'key1':[], 'key2':(), 'Key3': {'k1':'V1', 'K2':'V2'}}

In [87]:
emp={}
emp['eid']=[]
emp['edept']=[]
emp['place']=[]
# dict of List
emp

{'eid': [], 'edept': [], 'place': []}

In [89]:
print(type(emp), type(emp['eid']))

<class 'dict'> <class 'list'>

In [91]:
emp['eid'].append('A1010')
emp['eid'].append('A1020')
emp['eid'].append('A1023')
emp['eid'].append('A1056')

In [92]:
emp

{'eid': ['A1010', 'A1020', 'A1023', 'A1056'], 'edept': [], 'place': []}

In [93]:
emp['edept'].append('Sales')
emp['edept'].append('Prod')
emp['edept'].append('HR')
emp['edept'].append('CRM')
emp

{'eid': ['A1010', 'A1020', 'A1023', 'A1056'],
 'edept': ['Sales', 'Prod', 'HR', 'CRM'],
 'place': []}

In [94]:
emp['place'].append('City1')
emp['place'].append('City2')
emp['place'].append('City3')
emp['place'].append('City4')
emp

{'eid': ['A1010', 'A1020', 'A1023', 'A1056'],
 'edept': ['Sales', 'Prod', 'HR', 'CRM'],
 'place': ['City1', 'City2', 'City3', 'City4']}

In [95]:
emp['eid']

['A1010', 'A1020', 'A1023', 'A1056']

In [96]:
emp['eid'][0]

'A1010'

In [97]:
emp['eid'][-1]

'A1056'

In [102]:
L=[[],('D1','D2'), {'K1':'V1'}]
L

[[], ('D1', 'D2'), {'K1': 'V1'}]

In [103]:
L[0].append('dA')
L[0].append('dB')
L

[['dA', 'dB'], ('D1', 'D2'), {'K1': 'V1'}]

In [104]:
L[1].append('D3')

AttributeError: 'tuple' object has no attribute 'append'

In [105]:
print(type(L),type(L[1]))

<class 'list'> <class 'tuple'>

In [106]:
L[2]['K1']

'V1'

In [107]:
L[2]['K1']='V2'   # modification
L[2]['K2']='V3'   # add new elmt
L

[['dA', 'dB'], ('D1', 'D2'), {'K1': 'V2', 'K2': 'V3'}]

In [ ]:
!pip install json

In [111]:
d={"pull_request":{
    "url":"http://api.github.com/repos/....",
    "html_url":"https://github.com/...",
    "merged_at":None
    }
}
print(type(d))

<class 'dict'>

In [112]:
import json
js_obj= json.dumps(d)   # converts python dict to json

In [113]:
json.loads(js_obj)   # converts json obj to python native data

{'pull_request': {'url': 'http://api.github.com/repos/....',
  'html_url': 'https://github.com/...',
  'merged_at': None}}

In [114]:
python_struc= json.loads(js_obj)  # converts json to python
import pprint
pprint.pprint(python_struc)   # dict of dict

{'pull_request': {'html_url': 'https://github.com/...',
                  'merged_at': None,
                  'url': 'http://api.github.com/repos/....'}}

In [115]:
python_struc['pull_request']['html_url']

'https://github.com/...'

In [116]:
T=([],[]) # Tuple of List
len(T)

2

In [118]:
print(type(T))
print(type(T[0]))

<class 'tuple'>
<class 'list'>

In [121]:
T[0].append('D1')
T[0].append('D2')
T[1].append('D3')
T[1].append('D4')

In [122]:
T

(['D1', 'D2', 'D3', 'D4', 'D1', 'D2'], ['D3', 'D4'])

In [125]:
s={10,20,'k1','V1',10,20,30,40,'k1',1,2,3,1,2,1,2,1,2,1,2,1,2,3,1,2,3} # vs d={"key":"value"}
print(type(s),len(s))
# unipue-> set - collection of key

<class 'set'> 9

In [126]:
L=['D1','D2','D3','D1','D2','D3','D1','D2','D3','D1','D2','D3']
set(L)  # typecast list to set # omit duplicates

{'D1', 'D2', 'D3'}

In [127]:
list(set(L))

['D1', 'D3', 'D2']

In [ ]:
# set   union   intersection  difference  symmetric_difference 
         |          &           -             ^       ==> operator
       union()   intersection()   difference()  symmetric_difference()  => method

In [130]:
import os
#os.listdir('D://')

In [131]:
#File Handling
#-------------
open('emp.csv')

In [134]:
fobj=open("D://emp.csv","r")   # r, w, a
fobj.read() # single str

'101,Arun,sales,pune,2000\n102,Vishnu,sales,hyderabad,3000\n104,Raghav,Hr,pune,3000\n105,sam,Hr,bglore,8000\n103,Vijay,prod,Pune,2000\n108,ram,Prod,pondy,100000\n103,Vijay,prod,Pune,2000\n104,Raghav,Hr,pune,3000\n106,Hari,Prod,Chn,9000\n107,rajen,sales,delhi,10000'

In [135]:
fobj.read()

''

In [136]:
fobj=open("D://emp.csv","r")   # r, w, a
fobj.readlines() # list

['101,Arun,sales,pune,2000\n',
 '102,Vishnu,sales,hyderabad,3000\n',
 '104,Raghav,Hr,pune,3000\n',
 '105,sam,Hr,bglore,8000\n',
 '103,Vijay,prod,Pune,2000\n',
 '108,ram,Prod,pondy,100000\n',
 '103,Vijay,prod,Pune,2000\n',
 '104,Raghav,Hr,pune,3000\n',
 '106,Hari,Prod,Chn,9000\n',
 '107,rajen,sales,delhi,10000']

In [137]:
fobj.readlines()

[]

In [139]:
fobj=open("D://emp.csv","r")   # r, w, a
L=fobj.readlines() # list
fobj.close()

In [140]:
L

['101,Arun,sales,pune,2000\n',
 '102,Vishnu,sales,hyderabad,3000\n',
 '104,Raghav,Hr,pune,3000\n',
 '105,sam,Hr,bglore,8000\n',
 '103,Vijay,prod,Pune,2000\n',
 '108,ram,Prod,pondy,100000\n',
 '103,Vijay,prod,Pune,2000\n',
 '104,Raghav,Hr,pune,3000\n',
 '106,Hari,Prod,Chn,9000\n',
 '107,rajen,sales,delhi,10000']

In [141]:
len(L)

10

In [ ]:
wobj=open("r1.log","w")   
# create a newfile
# If file already exist --- overwrite existing content
#write data to file-----> write('Singlestr\n')

In [144]:
wobj=open("r1.log","w")  # create a file
wobj.write("Data\n")
wobj.write('Product Cost is :2322122.222\n')


pcost=1212.66
pcode=101
#wobj.write(pcost)   # Error
wobj.write(str(pcost))
wobj.close()

In [ ]:
open("emp.csv")  is same as open("emp.csv","r")

In [145]:
import time
time.ctime()

'Mon Nov 10 15:52:16 2025'

In [ ]:
Task
====
Modify the Pin example
-> create a new file - pin_history.log -  append mode
-> write user input pin(success/fail/block) - count - date/time 
open pin_history.log - see input details

In [147]:
import time
wobj=open('pin_history.log', 'a')

pin=1234
count=0

while(count < 3):
    count = count + 1    # count+=1   compound assignment
    p=int(input("Enter the Pin:"))
    if(p == pin):
        wobj.write(f'Success - pin {p} is matched at {count} date/time :{time.ctime()}\n')
        print(f"Success - pin is matched at -{count}")
        break
    else:
        wobj.write(f'Failed-user input pin {p} Not Matched - {count} date/time:{ time.ctime()}\n')

if(p != pin):
    wobj.write(f'Sorry your pin is blocked- {count} date/time :{time.ctime()}\n')
    print("Sorry Your pin is Blocked")
wobj.close()

Enter the Pin: 1234

Success - pin is matched at -1

In [148]:
import time
wobj=open('pin_history.log', 'a')

pin=1234
count=0

while(count < 3):
    count = count + 1    # count+=1   compound assignment
    p=int(input("Enter the Pin:"))
    if(p == pin):
        wobj.write(f'Success - pin {p} is matched at {count} date/time :{time.ctime()}\n')
        print(f"Success - pin is matched at -{count}")
        break
    else:
        wobj.write(f'Failed-user input pin {p} Not Matched - {count} date/time:{ time.ctime()}\n')

if(p != pin):
    wobj.write(f'Sorry your pin is blocked- {count} date/time :{time.ctime()}\n')
    print("Sorry Your pin is Blocked")
wobj.close()

Enter the Pin: 321323
Enter the Pin: 323
Enter the Pin: 1234

Success - pin is matched at -3

In [149]:
import time
wobj=open('pin_history.log', 'a')

pin=1234
count=0

while(count < 3):
    count = count + 1    # count+=1   compound assignment
    p=int(input("Enter the Pin:"))
    if(p == pin):
        wobj.write(f'Success - pin {p} is matched at {count} date/time :{time.ctime()}\n')
        print(f"Success - pin is matched at -{count}")
        break
    else:
        wobj.write(f'Failed-user input pin {p} Not Matched - {count} date/time:{ time.ctime()}\n')

if(p != pin):
    wobj.write(f'Sorry your pin is blocked- {count} date/time :{time.ctime()}\n')
    print("Sorry Your pin is Blocked")
wobj.close()

Enter the Pin: 443
Enter the Pin: 33
Enter the Pin: 333

Sorry Your pin is Blocked

In [151]:
fobj=open("pin_history.log")
for var in fobj.readlines():
    print(var)
fobj.close()

Success - pin 1234 is matched at 1 date/time :Mon Nov 10 16:26:23 2025

Failed-user input pin 321323 Not Matched - 1 date/time:Mon Nov 10 16:26:59 2025

Failed-user input pin 323 Not Matched - 2 date/time:Mon Nov 10 16:27:00 2025

Success - pin 1234 is matched at 3 date/time :Mon Nov 10 16:27:03 2025

Failed-user input pin 443 Not Matched - 1 date/time:Mon Nov 10 16:27:25 2025

Failed-user input pin 33 Not Matched - 2 date/time:Mon Nov 10 16:27:26 2025

Failed-user input pin 333 Not Matched - 3 date/time:Mon Nov 10 16:27:28 2025

Sorry your pin is blocked- 3 date/time :Mon Nov 10 16:27:28 2025

In [152]:
with open("D://emp.csv") as fobj:
    print(fobj.readlines())

['101,Arun,sales,pune,2000\n', '102,Vishnu,sales,hyderabad,3000\n', '104,Raghav,Hr,pune,3000\n', '105,sam,Hr,bglore,8000\n', '103,Vijay,prod,Pune,2000\n', '108,ram,Prod,pondy,100000\n', '103,Vijay,prod,Pune,2000\n', '104,Raghav,Hr,pune,3000\n', '106,Hari,Prod,Chn,9000\n', '107,rajen,sales,delhi,10000']

In [155]:
def display(user,passwd,db,port): # required arg
    print("User=", user, "Passwd=", passwd)
    print("db=",db, "port=", port)

display('admin','AAbc@123', 'mysql',1000)

User= admin Passwd= AAbc@123
db= mysql port= 1000

In [160]:
# display() # TypeError: display() missing 4 required positional arguments: 'user', 'passwd', 'db', and 'port'
# display('root')  - TypeError: display() missing 3 required positional arguments: 'passwd', 'db', and 'port'
# display('root','b','c','d','e') TypeError: display() takes 4 positional arguments but 5 were given

In [163]:
def display(user="test", passwd="abc123", db="testdb",port=1234):   # default arguments
    print("User=", user, "Passwd=", passwd)
    print("db=",db, "port=", port)

display()
display('root')
display('root','2212@11','mysql',332321)

User= test Passwd= abc123
db= testdb port= 1234
User= root Passwd= abc123
db= testdb port= 1234
User= root Passwd= 2212@11
db= mysql port= 332321

In [164]:
def display(user,passwd,db="testdb",port):
    print("OK")

SyntaxError: parameter without a default follows parameter with a default (2656554782.py, line 1)

In [165]:
def display(user,passwd,db="testdb",port=0):
    print("OK")

In [166]:
display()

TypeError: display() missing 2 required positional arguments: 'user' and 'passwd'

In [167]:
def display(user,passwd,port,db="testdb"):
    print("OK")

# required arg, default arg

In [186]:
def f1(*a):  # variable length arg
    print(a,type(a))

f1()
f1(1,2,3)
f1('D1','D2')
f1(1,2,3,4,5,6,7,8,9,"data",None)

() <class 'tuple'>
(1, 2, 3) <class 'tuple'>
('D1', 'D2') <class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 'data', None) <class 'tuple'>

In [170]:
def f1(**a):     # Keyword Argument
    print(a,type(a))

f1(name="hari",id=2121)

{'name': 'hari', 'id': 2121} <class 'dict'>

In [172]:
def f1():
    port=1000
    return port

port=f1()
print(port)

1000

In [190]:
def f1():
    global port
    port=1000
   # global count=100 - Error
  

f1()
print(port)

1000

In [188]:
def f1():
    return 10,  # default way to handle multiple value-tuple
print(type(f1()))

<class 'tuple'>

In [174]:
''' named function'''
def f1(a1,a2):
    return a1+a2
f1(10,20)

30

In [175]:
''' unnamed function'''   # Functional style 
f2= lambda a1,a2: a1+a2
f2(10,20)

30

In [176]:
def f3(a):
    return a.upper()
f3('hello')

'HELLO'

In [177]:
f4= lambda a: a.upper()
f4('hello')

'HELLO'

In [178]:
f5= lambda a1,a2: a1>a2
f5(1,5)

False

In [180]:
def fx(a):
    if( a> 100):
        return a+100
    elif(a> 50 and a<60):
        return a+200
    else:
        return a+300

In [181]:
f6= lambda a: fx(a)
f6(150)

250

In [182]:
# List Comprehension 
[var+100 for var in range(1,6)]   #  [  update_Exp for var in collection  ]

[101, 102, 103, 104, 105]

In [183]:
L=[]
for var in range(1,6):
    L.append(var+100)
L

[101, 102, 103, 104, 105]

In [184]:
L=[]
for var in range(1,6):
    if(var > 3):
        L.append(var+100)
    else:
        L.append(var+500)
L

[501, 502, 503, 104, 105]

In [ ]:
[true_exp if condition else false_exp for member in collection ]

In [185]:
[ var+100 if var>3 else var+500 for var in range(1,6) ]

[501, 502, 503, 104, 105]