In [2]:
import pandas
pandas

In [ ]:
__init__()   constructor in class   vs   __init__.py   Package

dir1
|---p1.py
|---p2.py
|---p3.py
|---__init__.py (package file-->import modulenames..

In [5]:
print(pandas.Series)

<class 'pandas.core.series.Series'>

In [4]:
print(pandas.DataFrame)

<class 'pandas.core.frame.DataFrame'>

In [ ]:
pandas/
|
-----core/
       |----frame.py
                |------class Dataframe

In [6]:
import pandas as pd
pd.Series([10,20,30,40])

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
pd.DataFrame([10,20,30,40])

    0
0  10
1  20
2  30
3  40

In [10]:
products={}
products['pid']=[101,102,103,104]
products['pname']=['pA','pB','pC','pD']
products['pcost']=[1000,2000,3000,4000]
products

{'pid': [101, 102, 103, 104],
 'pname': ['pA', 'pB', 'pC', 'pD'],
 'pcost': [1000, 2000, 3000, 4000]}

In [14]:
pd.DataFrame(products)

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000

In [15]:
df=pd.DataFrame(products)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     4 non-null      int64
 1   pname   4 non-null      object
 2   pcost   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [16]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
df.columns

Index(['pid', 'pname', 'pcost'], dtype='object')

In [19]:
# To fetch data - row based ==>   df.loc[index]-> record
#

In [21]:
df.loc[1]

pid       102
pname      pB
pcost    2000
Name: 1, dtype: object

In [22]:
df.loc[0]

pid       101
pname      pA
pcost    1000
Name: 0, dtype: object

In [ ]:
#To fetch column => df[columnname] -> column

In [23]:
df['pid']

0    101
1    102
2    103
3    104
Name: pid, dtype: int64

In [24]:
df['pname']

0    pA
1    pB
2    pC
3    pD
Name: pname, dtype: object

In [ ]:
# df=pf.dataFrame(d)
#df.info()
#df.index
#df.columns
#df.loc[index]
#df['columnName']

In [25]:
df

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000

In [27]:
df.loc[1]['pname']

'pB'

In [ ]:
#Task
# Add more product - dict-- do append operation
#     |-------------> initialze a DataFrame 
 #                                |-----------------fetch Row
                                #|---------------fetch column

In [29]:
df.loc[1].to_frame()

          1
pid     102
pname    pB
pcost  2000

In [31]:
df.loc[[1]].T

          1
pid     102
pname    pB
pcost  2000

In [32]:
products={}
products['pid']=[101,102,103,104]      
products['pname']=['pA','pB','pC','pD']
products['pcost']=[1000,2000,3000,4000]

In [33]:
L=[105,106,107]
products['pid']=products['pid']+L
products['pid']

[101, 102, 103, 104, 105, 106, 107]

In [34]:
products={}
products['pid']=[101,102,103,104]      
products['pname']=['pA','pB','pC','pD']
products['pcost']=[1000,2000,3000,4000]

products['pid'].append(104)
products['pname'].append('pD')
products['pcost'].append(4000)

products['pid'].append(105)
products['pname'].append('pE')
products['pcost'].append(6000)

products['pid'].append(106)
products['pname'].append('pF')
products['pcost'].append(7000)

products['pid'].append(107)
products['pname'].append('pG')
products['pcost'].append(8000)

In [35]:
df2=pd.DataFrame(products)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     8 non-null      int64
 1   pname   8 non-null      object
 2   pcost   8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes

In [36]:
df2['pid']

0    101
1    102
2    103
3    104
4    104
5    105
6    106
7    107
Name: pid, dtype: int64

In [37]:
df2.loc[2]

pid       103
pname      pC
pcost    3000
Name: 2, dtype: object

In [39]:
df2.loc[2]

pid       103
pname      pC
pcost    3000
Name: 2, dtype: object

In [40]:
df2.loc[2:]   # from 2nd index to list of all - Slicing

   pid pname  pcost
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [41]:
df2.loc[2:5]

   pid pname  pcost
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000

In [42]:
df2.loc[:3]

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000

In [43]:
df2.loc[:]  # is same as df2

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [ ]:
# df=pf.dataFrame(d)
#df.info()
#df.index
#df.columns
#df.loc[index]
#df['columnName']
#df.loc[index]['columnName']
#df.loc[n:]
#df.loc[:m]
#df.loc[n:m]

In [44]:
df2.loc[[2,5]]

   pid pname  pcost
2  103    pC   3000
5  105    pE   6000

In [45]:
df2

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [46]:
df2.loc[[2,5,7]]

   pid pname  pcost
2  103    pC   3000
5  105    pE   6000
7  107    pG   8000

In [ ]:
#  df2[[2,5]]            vs     df2[2:5]

In [49]:
df2.loc[2:5]

   pid pname  pcost
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000

In [50]:
df2.loc[[2,5]]

   pid pname  pcost
2  103    pC   3000
5  105    pE   6000

In [51]:
df2.loc[3]['pname']

'pD'

In [52]:
df2.loc[3]

pid       104
pname      pD
pcost    4000
Name: 3, dtype: object

In [53]:
df2.loc[3]['pname']

'pD'

In [54]:
df2.loc[3][['pname','pcost']]

pname      pD
pcost    4000
Name: 3, dtype: object

In [55]:
df2.loc[2:5]

   pid pname  pcost
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000

In [56]:
df2.loc[2:5][['pname','pcost']]  # from rnd row to 5th row- filter productName,productCost

  pname  pcost
2    pC   3000
3    pD   4000
4    pD   4000
5    pE   6000

In [59]:
df2.loc[2:5]['pname']   # Series Format result

2    pC
3    pD
4    pD
5    pE
Name: pname, dtype: object

In [60]:
df2.loc[2:5][['pname']]   # DataFrame Format

  pname
2    pC
3    pD
4    pD
5    pE

In [61]:
# filter productId and productName from 5th record to list of all 
df2.loc[5:][['pid','pname']]

   pid pname
5  105    pE
6  106    pF
7  107    pG

In [62]:
df2.loc[5:][['pid','pname']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 5 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     3 non-null      int64
 1   pname   3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [63]:
df2.loc[5:][['pid','pname']].index

RangeIndex(start=5, stop=8, step=1)

In [64]:
df2.loc[5:][['pid','pname']].columns

Index(['pid', 'pname'], dtype='object')

In [65]:
df2['pcost']

0    1000
1    2000
2    3000
3    4000
4    4000
5    6000
6    7000
7    8000
Name: pcost, dtype: int64

In [66]:
df2['pcost'] * 0.18

0     180.0
1     360.0
2     540.0
3     720.0
4     720.0
5    1080.0
6    1260.0
7    1440.0
Name: pcost, dtype: float64

In [67]:
df2

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [68]:
df2['pcost'] > 3000

0    False
1    False
2    False
3     True
4     True
5     True
6     True
7     True
Name: pcost, dtype: bool

In [69]:
df2[df2['pcost'] > 3000]   # filter True values/records only

   pid pname  pcost
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [73]:
df2[df2['pcost'] > 3000]

   pid pname  pcost
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [75]:
df2['value']=df2['pcost'] > 3000

In [78]:
df3=df2[['pcost','value']]

In [79]:
df3

   pcost  value
0   1000  False
1   2000  False
2   3000  False
3   4000   True
4   4000   True
5   6000   True
6   7000   True
7   8000   True

In [ ]:
# In pandas - DatFrame - mutable - inplace=True ==> modifies input DataFrame

In [80]:
# To delete a particular record
# df.drop(rowIndex)
len(df2.index)

8

In [94]:
df2=pd.DataFrame(products)
df2.drop(3)  # delete 3rd row  -> returned a DatFrame with 3rd record removed- doesnot affect original DatFrame

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [95]:
df2

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [96]:
len(df2.index)

8

In [97]:
df2.drop(3,inplace=True)   # ->None, DatFrame is updated

In [98]:
df2

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [99]:
len(df2.index)

7

In [100]:
print(len(df2.index))
df2.drop(4,inplace=True)  # None-> remove 4 th row from input DF
print(len(df2.index))

7
6

In [101]:
df2.drop(2,inplace=True)

In [102]:
len(df2.index)

5

In [103]:
df3=df2
print(len(df3.index))

5

In [104]:
df2.drop(1)

   pid pname  pcost
0  101    pA   1000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [105]:
df4=df2
print(len(df4.index))

5

In [106]:
# To drop column
#--------------
# df.drop(columns='SingleColumnName')   VS df.drop(columns=['col1','col2','col3'])
#
df2

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [107]:
df2.drop(columns='pname')  # returns New DataFrame - but chnges not reflected in input DF

   pid  pcost
0  101   1000
1  102   2000
5  105   6000
6  106   7000
7  107   8000

In [108]:
df2

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [109]:
df2.drop(columns='pname', inplace=True)   # None- updates input DF

In [110]:
df2

   pid  pcost
0  101   1000
1  102   2000
5  105   6000
6  106   7000
7  107   8000

In [117]:
df2=pd.DataFrame(products)
df2.drop(columns=['pname','pid'], inplace=True)

In [118]:
df2

   pcost
0   1000
1   2000
2   3000
3   4000
4   4000
5   6000
6   7000
7   8000

In [119]:
df2.drop(index=[1,2,3]) # removing more than 1 record - Not updated in input DF

   pcost
0   1000
4   4000
5   6000
6   7000
7   8000

In [120]:
df2

   pcost
0   1000
1   2000
2   3000
3   4000
4   4000
5   6000
6   7000
7   8000

In [121]:
#To drop rows
#-----------------------
#  df.drop(index)       VS     df.drop(index=[index1, index2..])
df2.drop(index=[1,2,3], inplace=True)  # None. Updates input Df

In [122]:
df2

   pcost
0   1000
4   4000
5   6000
6   7000
7   8000

In [124]:
d={'k1':[10,20,30,40],
   'K2':['d1','d2','d3','d4'],
   'k3':[1.2,2.3,1.4,1.4],
    'k4':['v1','v2','v3','v4']}

# Create a DataFrame from dict
# Remove Columns K1 and K3 
# Remove row no. 2

In [126]:
pd.DataFrame(d)

   k1  K2   k3  k4
0  10  d1  1.2  v1
1  20  d2  2.3  v2
2  30  d3  1.4  v3
3  40  d4  1.4  v4

In [129]:
new_df= pd.DataFrame(d)
new_df.drop(columns=['k1','k3'], inplace=True)

In [130]:
new_df

   K2  k4
0  d1  v1
1  d2  v2
2  d3  v3
3  d4  v4

In [131]:
new_df.drop(2, inplace=True)

In [132]:
new_df

   K2  k4
0  d1  v1
1  d2  v2
3  d4  v4

In [133]:
df2.describe()

             pcost
count     5.000000
mean   5200.000000
std    2774.887385
min    1000.000000
25%    4000.000000
50%    6000.000000
75%    7000.000000
max    8000.000000

In [134]:
# rename columns
#---------------
# df.rename(columns={'oldcolumnName':'newColumnName'})
new_df

   K2  k4
0  d1  v1
1  d2  v2
3  d4  v4

In [138]:
new_df.rename(columns={'K2':'Field2'})

  Field2  k4
0     d1  v1
1     d2  v2
3     d4  v4

In [139]:
new_df

   K2  k4
0  d1  v1
1  d2  v2
3  d4  v4

In [140]:
new_df.rename(columns={'K2':'Field2'}, inplace=True)

In [141]:
new_df

  Field2  k4
0     d1  v1
1     d2  v2
3     d4  v4

In [143]:
d={'k1':[10,20,None],
   'K2':['d1',None,'d3'],
   'k3':[None,1.4,1.4],
    'k4':[None,'v3','v4']}
pd.DataFrame(d)

     k1    K2   k3    k4
0  10.0    d1  NaN  None
1  20.0  None  1.4    v3
2   NaN    d3  1.4    v4

In [147]:
d={'k1':[10,20,None],
   'K2':[30,None,None],
   'k3':[None,1.4,1.4]
    }
df3=pd.DataFrame(d)

In [148]:
df3.isnull()

      k1     K2     k3
0  False  False   True
1  False   True  False
2   True   True  False

In [149]:
df3.isnull().sum()

k1    1
K2    2
k3    1
dtype: int64

In [150]:
# To replace NaN value --> default Value  ==> fillna(<replacementValue>)
#
df3.fillna('testData')

         k1        K2        k3
0      10.0      30.0  testData
1      20.0  testData       1.4
2  testData  testData       1.4

In [151]:
df3.fillna(55)

     k1    K2    k3
0  10.0  30.0  55.0
1  20.0  55.0   1.4
2  55.0  55.0   1.4

In [152]:
df3

     k1    K2   k3
0  10.0  30.0  NaN
1  20.0   NaN  1.4
2   NaN   NaN  1.4

In [153]:
df3['k1'].fillna(44)

0    10.0
1    20.0
2    44.0
Name: k1, dtype: float64

In [155]:
df3[['K2','k3']].fillna(56.33)

      K2     k3
0  30.00  56.33
1  56.33   1.40
2  56.33   1.40

In [156]:
df3

     k1    K2   k3
0  10.0  30.0  NaN
1  20.0   NaN  1.4
2   NaN   NaN  1.4

In [157]:
df3.fillna(65.33, inplace=True)

In [158]:
df3

      k1     K2     k3
0  10.00  30.00  65.33
1  20.00  65.33   1.40
2  65.33  65.33   1.40

In [159]:
df3.isnull().sum()

k1    0
K2    0
k3    0
dtype: int64

In [160]:
d={'k1':[10,20,None],
   'K2':[30,None,None],
   'k3':[3.1,1.4,1.4]
    }
df3=pd.DataFrame(d)
df3.dropna(axis=1) #drop column

    k3
0  3.1
1  1.4
2  1.4

In [161]:
df3

     k1    K2   k3
0  10.0  30.0  3.1
1  20.0   NaN  1.4
2   NaN   NaN  1.4

In [162]:
df3.dropna(axis=1,inplace=True)

In [163]:
df3

    k3
0  3.1
1  1.4
2  1.4

In [164]:
d={'k1':[10,20,None],
   'K2':[30,None,None],
   'k3':[3.1,1.4,1.4]
    }
df3=pd.DataFrame(d)
df3.dropna(axis=0)

     k1    K2   k3
0  10.0  30.0  3.1

In [165]:
df3

     k1    K2   k3
0  10.0  30.0  3.1
1  20.0   NaN  1.4
2   NaN   NaN  1.4

In [166]:
df3.dropna(axis=0,inplace=True)

In [167]:
df3

     k1    K2   k3
0  10.0  30.0  3.1

In [168]:
pd.read_csv("D://emp.csv")    #  VS    pd.DataFrame({"k1':[...]...})

   101    Arun  sales       pune    2000
0  102  Vishnu  sales  hyderabad    3000
1  104  Raghav     Hr       pune    3000
2  105     sam     Hr     bglore    8000
3  103   Vijay   prod       Pune    2000
4  108     ram   Prod      pondy  100000
5  103   Vijay   prod       Pune    2000
6  104  Raghav     Hr       pune    3000
7  106    Hari   Prod        Chn    9000
8  107   rajen  sales      delhi   10000

In [170]:
d={'k1':[10,20,None],
   'K2':[30,None,None],
   'k3':[3.1,1.4,1.4]
    }
df3=pd.DataFrame(d)
df3.to_csv("D://res.csv")

In [171]:
pd.read_csv("D://res.csv")

   Unnamed: 0    k1    K2   k3
0           0  10.0  30.0  3.1
1           1  20.0   NaN  1.4
2           2   NaN   NaN  1.4

In [172]:
d={'k1':[10,20,None],
   'K2':[30,None,None],
   'k3':[3.1,1.4,1.4]
    }
df3=pd.DataFrame(d)
df3.to_csv("D://res.csv",index=False)  # convert DF to csv

In [174]:
pd.read_csv("D://res.csv")

     k1    K2   k3
0  10.0  30.0  3.1
1  20.0   NaN  1.4
2   NaN   NaN  1.4

In [175]:
df3.duplicated()

0    False
1    False
2    False
dtype: bool

In [176]:
df3.duplicated().sum()

np.int64(0)

In [185]:
d={'k1':[10,10,30],'k2':[10,10,30],'k3':[10,10,30]}
df4=pd.DataFrame(d)
df4

   k1  k2  k3
0  10  10  10
1  10  10  10
2  30  30  30

In [186]:
df4.duplicated()

0    False
1     True
2    False
dtype: bool

In [187]:
df4.duplicated().sum()

np.int64(1)

In [188]:
df4.drop_duplicates()

   k1  k2  k3
0  10  10  10
2  30  30  30

In [189]:
df4

   k1  k2  k3
0  10  10  10
1  10  10  10
2  30  30  30

In [190]:
df4.drop_duplicates(inplace=True)

In [191]:
df4

   k1  k2  k3
0  10  10  10
2  30  30  30

In [ ]:
# Task
#=====
# 1. Load emp.csv to pandas -> df
# 2. Get info about loaded DataFrame
# 3. List out all row index, column index
# 4. display df shape
# 5. Test- any duplicates values exists--> drop duplicated update to input DataFrame
# 6. Test - any NaN is exist -> drop index based and column based
# 7. Test - any NaN is exists -> replace row/ column default 
# 8. Rename slective columns ( ex: edept==> Dept)
# 9. Drop selective columns
# 10. Write DataFrame to External file

In [239]:
# 1. Load emp.csv to pandas -> df
df_csv = pd.read_csv("D://emp.csv")

# 2. Get info about loaded DataFrame
df_csv.info()   # df_csv.describe()

# 3. List out all row index, column index
print("Row Index : ", df_csv.index)
print("List of column : ", df_csv.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eid     11 non-null     float64
 1   ename   12 non-null     object
 2   edept   11 non-null     object
 3   ecity   12 non-null     object
 4   ecost   11 non-null     float64
dtypes: float64(2), object(3)
memory usage: 612.0+ bytes
Row Index :  RangeIndex(start=0, stop=12, step=1)
List of column :  Index(['eid', 'ename', 'edept', 'ecity', 'ecost'], dtype='object')

In [240]:
# 4. display df shape
print(df_csv.shape)   # tuple

# 5. Test- any duplicates values exists--> drop duplicated update to input DataFrame
df_csv.duplicated()
df_csv.duplicated().sum()
df_csv.drop_duplicates(inplace=True)

# 6. Test - any NaN is exist -> drop index based and column based
print(df_csv.isnull().sum())

# 7. Test - any NaN is exists -> replace row/ column default 
df_csv.dropna(inplace=True)   # default - row based
df_csv.dropna(axis=1) # column based
print(df_csv.isnull().sum())

df_csv.fillna('TestData')   # replace NaN - TestData
df_csv['edept'].fillna('commonDept')

(12, 5)
eid      1
ename    0
edept    1
ecity    0
ecost    1
dtype: int64
eid      0
ename    0
edept    0
ecity    0
ecost    0
dtype: int64

0    sales
1       Hr
2    sales
3       Hr
5     prod
6     Prod
9     Prod
Name: edept, dtype: object

In [241]:

# 8. Rename slective columns ( ex: edept==> Dept)
print(df_csv.columns)
df_csv.rename(columns={'edept':'DEPT', 'ecost':'AMOUNT'},inplace=True)
print(df_csv.columns)

Index(['eid', 'ename', 'edept', 'ecity', 'ecost'], dtype='object')
Index(['eid', 'ename', 'DEPT', 'ecity', 'AMOUNT'], dtype='object')

In [242]:
# 9. Drop selective columns
df_csv.drop(columns=['eid','ecity'], inplace=True)

In [243]:
# 10. Write DataFrame to External file
df_csv.to_csv('D://r.csv', index=False)

In [244]:
pd.read_csv('D://r.csv')

    ename   DEPT    AMOUNT
0    Arun  sales    2000.0
1     sam     Hr    8000.0
2  Vishnu  sales    3000.0
3  Raghav     Hr    3000.0
4   Vijay   prod    2000.0
5     ram   Prod  100000.0
6    Hari   Prod    9000.0

In [245]:
df_csv

    ename   DEPT    AMOUNT
0    Arun  sales    2000.0
1     sam     Hr    8000.0
2  Vishnu  sales    3000.0
3  Raghav     Hr    3000.0
5   Vijay   prod    2000.0
6     ram   Prod  100000.0
9    Hari   Prod    9000.0

In [234]:
for var in range(1,len(df_csv.index)+1):
    print(var, end=" ")

1 2 3 4 5 6 7

In [235]:
[   var for var in range(1,len(df_csv.index)+1) ]

[1, 2, 3, 4, 5, 6, 7]

In [247]:
df_csv.index

Index([0, 1, 2, 3, 5, 6, 9], dtype='int64')

In [248]:
df_csv.index=[ var for var in range(1,len(df_csv.index)+1) ]
df_csv.index

Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [249]:
df_csv

    ename   DEPT    AMOUNT
1    Arun  sales    2000.0
2     sam     Hr    8000.0
3  Vishnu  sales    3000.0
4  Raghav     Hr    3000.0
5   Vijay   prod    2000.0
6     ram   Prod  100000.0
7    Hari   Prod    9000.0

In [250]:
df_csv.sort_index()

    ename   DEPT    AMOUNT
1    Arun  sales    2000.0
2     sam     Hr    8000.0
3  Vishnu  sales    3000.0
4  Raghav     Hr    3000.0
5   Vijay   prod    2000.0
6     ram   Prod  100000.0
7    Hari   Prod    9000.0

In [251]:
df_csv.sort_index(ascending=False)

    ename   DEPT    AMOUNT
7    Hari   Prod    9000.0
6     ram   Prod  100000.0
5   Vijay   prod    2000.0
4  Raghav     Hr    3000.0
3  Vishnu  sales    3000.0
2     sam     Hr    8000.0
1    Arun  sales    2000.0

In [254]:
df_csv.sort_values(by="ename")   # sort emp in ascending

    ename   DEPT    AMOUNT
1    Arun  sales    2000.0
7    Hari   Prod    9000.0
4  Raghav     Hr    3000.0
5   Vijay   prod    2000.0
3  Vishnu  sales    3000.0
6     ram   Prod  100000.0
2     sam     Hr    8000.0

In [255]:
df_csv.sort_values(by="ename", ascending=False)

    ename   DEPT    AMOUNT
2     sam     Hr    8000.0
6     ram   Prod  100000.0
3  Vishnu  sales    3000.0
5   Vijay   prod    2000.0
4  Raghav     Hr    3000.0
7    Hari   Prod    9000.0
1    Arun  sales    2000.0

In [257]:
pd.read_csv("D://r.csv", index_col=0)

         DEPT    AMOUNT
ename
Arun    sales    2000.0
sam        Hr    8000.0
Vishnu  sales    3000.0
Raghav     Hr    3000.0
Vijay    prod    2000.0
ram      Prod  100000.0
Hari     Prod    9000.0

In [258]:
pd.read_csv("D://r.csv", index_col=2)

           ename   DEPT
AMOUNT
2000.0      Arun  sales
8000.0       sam     Hr
3000.0    Vishnu  sales
3000.0    Raghav     Hr
2000.0     Vijay   prod
100000.0     ram   Prod
9000.0      Hari   Prod

In [259]:
df7=pd.read_csv("D://emp.csv",index_col=2)
df7.index

Index(['sales',    'Hr', 'sales',    'Hr',    'Hr',  'prod',  'Prod',  'prod',
           nan,  'Prod', 'sales',  'Prod'],
      dtype='object', name='edept')

In [260]:
df7.columns

Index(['eid', 'ename', 'ecity', 'ecost'], dtype='object')

In [261]:
df7.loc['sales']

         eid   ename      ecity    ecost
edept
sales  101.0    Arun       pune   2000.0
sales  102.0  Vishnu  hyderabad   3000.0
sales    NaN   rajen      delhi  10000.0

In [ ]:
Data Aggregation
================
    range of values/ array  ----> scalar data (single)
[1,2323,111,333] -> min/ max/ mean ----> scalar data

np.max()
np.min()
np.mean()
np.sum()
----
df.groupby('field').sum() | max() | min()

In [263]:
products= {'pname':['pA', 'pB', 'pC', 'pA','pB', 'pA', 'pC'],
           'sales':[100,200,300,100,300,200,100]}

df=pd.DataFrame(products)
df.groupby('pname').sum()

       sales
pname
pA       400
pB       500
pC       400

In [264]:
df.groupby('pname').max()

       sales
pname
pA       200
pB       300
pC       300

In [265]:
df.groupby('pname').min()

       sales
pname
pA       100
pB       200
pC       100

In [266]:
df.groupby('pname').agg(['min','max'])

      sales
        min  max
pname
pA      100  200
pB      200  300
pC      100  300

In [267]:
df_csv

    ename   DEPT    AMOUNT
1    Arun  sales    2000.0
2     sam     Hr    8000.0
3  Vishnu  sales    3000.0
4  Raghav     Hr    3000.0
5   Vijay   prod    2000.0
6     ram   Prod  100000.0
7    Hari   Prod    9000.0

In [268]:
df_csv.to_csv('rr.csv')
df_csv.to_csv('rr.log')

In [271]:
df_csv.to_csv('rr.log', sep=":")
pd.read_csv('rr.log')

      :ename:DEPT:AMOUNT
0    1:Arun:sales:2000.0
1        2:sam:Hr:8000.0
2  3:Vishnu:sales:3000.0
3     4:Raghav:Hr:3000.0
4    5:Vijay:prod:2000.0
5    6:ram:Prod:100000.0
6     7:Hari:Prod:9000.0

In [272]:
pd.read_csv('rr.log', sep=":")

   Unnamed: 0   ename   DEPT    AMOUNT
0           1    Arun  sales    2000.0
1           2     sam     Hr    8000.0
2           3  Vishnu  sales    3000.0
3           4  Raghav     Hr    3000.0
4           5   Vijay   prod    2000.0
5           6     ram   Prod  100000.0
6           7    Hari   Prod    9000.0

In [ ]:
pd.read_excel("input.xlsx")
pd.read_excel("input.xlsx",sheet_name="Sheet1")

In [ ]:
Python ----------------python DB Modules--------------------DataBase
DS                                                             SQL

'insert into .. values..'   // str  ----------------->      sql> select *..->records
  -----------------------------------------------------------------|
  [] () [(),()]

In [273]:
import sqlite3

In [274]:
conn= sqlite3.connect('test1.db')
sth= conn.cursor()
sth.execute('create table pn(id INT, pname Text, pcost REAL)')

In [276]:
sth.execute("insert into pn(id,pname,pcost) values(101,'pA',1000)")
va=102
vb="pB"
vc=2000
sth.execute('insert into pn(id,pname,pcost) values(?,?,?)', (va,vb,vc))

In [277]:
sth.execute("insert into pn(id,pname,pcost) values(103,'pB',3000)")
sth.execute("insert into pn(id,pname,pcost) values(111,'pD',5000)")

In [278]:
sth.execute("select * from pn")

In [279]:
list(sth)  # generator

[(101, 'pA', 1000.0),
 (102, 'pB', 2000.0),
 (103, 'pB', 3000.0),
 (111, 'pD', 5000.0)]

In [280]:
sth.execute("select * from pn")

sth.fetchall() # method

[(101, 'pA', 1000.0),
 (102, 'pB', 2000.0),
 (103, 'pB', 3000.0),
 (111, 'pD', 5000.0)]

In [281]:
sth.execute("select * from pn")
sth.fetchone()

(101, 'pA', 1000.0)

In [282]:
sth.fetchone()

(102, 'pB', 2000.0)

In [283]:
conn.commit()
conn.close()

In [284]:
import sqlite3
conn=sqlite3.connect('test1.db')
pd.read_sql_query('select * from pn',conn)  # --> df

    id pname   pcost
0  101    pA  1000.0
1  102    pB  2000.0
2  103    pB  3000.0
3  111    pD  5000.0

In [ ]:
pd.DataFrame({key:[]}) -> df
pd.read_csv('inputFile')  -> df
pd.read_sql_query('select query statement', connection_obj) -> df

In [ ]:
ETL  (Extract- Transform - Load)
================================
Data- Extract from DAtaSource( File,API,DB...) -> Transform(Clean,Aggregation)-->Load(Load to target DatawareHouse)

ELT  (Exxtract - Load - Transform)
==================================
Dat - Extract from DAtaSource( File,API,DB...) -> Load this to target system ---> Transform(Clean,Aggregation)

In [285]:
def fx(a1,a2):
    return a1+a2
fx(10,20)

30

In [286]:
fy=lambda a,b:a+b
fy(10,20)

30

In [288]:
df=pd.DataFrame({'name':['A','B','C'], 'cost':[1000,2000,3000]})
df

  name  cost
0    A  1000
1    B  2000
2    C  3000

In [289]:
#df.apply(functionName)
df['Tax']=df['cost'].apply(lambda a:a*0.18)
df

  name  cost    Tax
0    A  1000  180.0
1    B  2000  360.0
2    C  3000  540.0

In [ ]:
#Task
#====
# Extract - Transform - Load
# product.csv
# read product.csv -->  Extract
# w.r.t  product cost - apply tax  #  Transform
# Load - create a new database file

In [301]:
L=[]
for var in range(1,6):
    if(var>3):
        L.append(var+100)
    else:
        L.append(var+500)
L

[501, 502, 503, 104, 105]

In [302]:
[var+100  if var>3  else var+500  for var in range(1,6)]

[501, 502, 503, 104, 105]

In [309]:
# Extract
df_prod= pd.read_csv("D://products.csv")
df_prod.info()
print(df_prod)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     3 non-null      int64
 1   pname   3 non-null      object
 2   pcost   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000

In [310]:
#Transform
df_prod['updated_cost'] = df_prod.apply(lambda a: a['pcost'] * 0.18 if a['pname'] == 'pC' else a['pcost'], axis=1)
df_prod

   pid pname  pcost  updated_cost
0  101    pA   1000        1000.0
1  102    pB   2000        2000.0
2  103    pC   3000         540.0

In [313]:
#Load- Load raw data
import sqlite3
conn= sqlite3.connect("products.db")
df_prod.to_sql('product',conn,if_exists="replace", index=False)   # Loaded to DB

3

In [314]:
#Testing
list(conn.execute('select * from product'))  # applying generatory tech

[(101, 'pA', 1000, 1000.0),
 (102, 'pB', 2000, 2000.0),
 (103, 'pC', 3000, 540.0)]

In [315]:
for var in conn.execute('select * from product'):
    print(var)

(101, 'pA', 1000, 1000.0)
(102, 'pB', 2000, 2000.0)
(103, 'pC', 3000, 540.0)

In [ ]:
## ELT
#1. Extract product.csv
#2. Load same product.csv --> DB
#3. Transform - use SQL Query

In [316]:
# Extract
df_prod= pd.read_csv("D://products.csv")
df_prod.info()
print(df_prod)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     3 non-null      int64
 1   pname   3 non-null      object
 2   pcost   3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000

In [317]:
#Load - Load raw data
import sqlite3
conn= sqlite3.connect("products1.db")
df_prod.to_sql('product_raw',conn,if_exists="replace", index=False)   # Loaded to DB

3

In [318]:
#Transform (inside db) - SQl Query  Not Python programming logic
conn.execute(""" create table product_final as
                 SELECT pid,
                 pname,
                 pcost,
                 CASE
                     when pname= 'pC' THEN pcost * 0.18
                 ELSE pcost
                END AS updatecost
                FROM product_raw;
                """
            )
conn.commit()

In [319]:
#Testing
for var in conn.execute("select * from product_final"):
    print(var)

(101, 'pA', 1000, 1000)
(102, 'pB', 2000, 2000)
(103, 'pC', 3000, 540.0)

In [322]:
import requests     #   !pip install requests                !pip show requests

In [ ]:
requests.get('URL') -> return value
                          |----> status_code = 200
                          |----> headers -> dict  
                          |--> text/html   VS  json

In [323]:
import requests
requests.get('http://www.google.com')

In [324]:
r=requests.get('http://www.google.com')
r.status_code

200

In [325]:
r.headers

{'Date': 'Wed, 12 Nov 2025 11:11:56 GMT', 'Expires': '-1', 'Cache-Control': 'private, max-age=0', 'Content-Type': 'text/html; charset=ISO-8859-1', 'Content-Security-Policy-Report-Only': "object-src 'none';base-uri 'self';script-src 'nonce-GXZnTkwfuh3fnlS5k5_9mA' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/other-hp", 'P3P': 'CP="This is not a P3P policy! See g.co/p3phelp for more info."', 'Content-Encoding': 'gzip', 'Server': 'gws', 'X-XSS-Protection': '0', 'X-Frame-Options': 'SAMEORIGIN', 'Set-Cookie': 'AEC=AaJma5upUjVsjIZ4HFtgvwDzbouBqWRSn9O4y5AmsZBLJkZCgpWjBPmU228; expires=Mon, 11-May-2026 11:11:56 GMT; path=/; domain=.google.com; Secure; HttpOnly; SameSite=lax, NID=526=VTGvqRyB7EQ3cVuB5j61dT5JGmGaKFBAL2Tu6-Po1SOJCc3X1CiWA921RFavI2j3PV6A2fuSuLDCOOl7OPUKTqeAIpasM2u57UUNlSxNlr3L2Tp6HJH8qGEGDs2Ffb0GlZNKPUqXjMggp0p5hdzq5fImMVPl-b0VDD44cAAZ8ZhtsaknQK4sRhH3Qf_ILJqVwkPzWWOg4MIUv9CF3Q; expires=Thu, 14-May-2026 11:11:56 GMT; path=/; domain=.google.com; HttpOnly', 'Transfer-Encoding': 'chunked'}

In [326]:
r.headers['Content-Type']

'text/html; charset=ISO-8859-1'

In [327]:
gpage=r.text

In [329]:
print(type(gpage), len(gpage))

<class 'str'> 19978

In [330]:
with open('test.html','w') as wobj:
    wobj.write(gpage)

In [331]:
r=requests.get('http://api.github.com/repositories/19438/isssue')
r.headers['Content-Type']

'application/json; charset=utf-8'

In [339]:
python_data= r.json()
print(type(python_data),len(python_data))

<class 'dict'> 3

In [343]:
python_data= requests.get("http://api.github.com/repositories/19438/issues").json()
import pandas as pd
df=pd.DataFrame(python_data)    # convert the dict to dafataframe
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   url                         30 non-null     object
 1   repository_url              30 non-null     object
 2   labels_url                  30 non-null     object
 3   comments_url                30 non-null     object
 4   events_url                  30 non-null     object
 5   html_url                    30 non-null     object
 6   id                          30 non-null     int64
 7   node_id                     30 non-null     object
 8   number                      30 non-null     int64
 9   title                       30 non-null     object
 10  user                        30 non-null     object
 11  labels                      30 non-null     object
 12  state                       30 non-null     object
 13  locked                      30 non-null     bool
 14  assignee                    0 non-null      object
 15  assignees                   30 non-null     object
 16  milestone                   0 non-null      object
 17  comments                    30 non-null     int64
 18  created_at                  30 non-null     object
 19  updated_at                  30 non-null     object
 20  closed_at                   0 non-null      object
 21  author_association          30 non-null     object
 22  type                        1 non-null      object
 23  active_lock_reason          0 non-null      object
 24  draft                       17 non-null     object
 25  pull_request                17 non-null     object
 26  body                        29 non-null     object
 27  closed_by                   1 non-null      object
 28  reactions                   30 non-null     object
 29  timeline_url                30 non-null     object
 30  performed_via_github_app    0 non-null      object
 31  state_reason                1 non-null      object
 32  sub_issues_summary          13 non-null     object
 33  issue_dependencies_summary  13 non-null     object
dtypes: bool(1), int64(3), object(30)
memory usage: 7.9+ KB
None
                                                 url  \
0  https://api.github.com/repos/tidyverse/ggplot2...
1  https://api.github.com/repos/tidyverse/ggplot2...
2  https://api.github.com/repos/tidyverse/ggplot2...
3  https://api.github.com/repos/tidyverse/ggplot2...
4  https://api.github.com/repos/tidyverse/ggplot2...

                                   repository_url  \
0  https://api.github.com/repos/tidyverse/ggplot2
1  https://api.github.com/repos/tidyverse/ggplot2
2  https://api.github.com/repos/tidyverse/ggplot2
3  https://api.github.com/repos/tidyverse/ggplot2
4  https://api.github.com/repos/tidyverse/ggplot2

                                          labels_url  \
0  https://api.github.com/repos/tidyverse/ggplot2...
1  https://api.github.com/repos/tidyverse/ggplot2...
2  https://api.github.com/repos/tidyverse/ggplot2...
3  https://api.github.com/repos/tidyverse/ggplot2...
4  https://api.github.com/repos/tidyverse/ggplot2...

                                        comments_url  \
0  https://api.github.com/repos/tidyverse/ggplot2...
1  https://api.github.com/repos/tidyverse/ggplot2...
2  https://api.github.com/repos/tidyverse/ggplot2...
3  https://api.github.com/repos/tidyverse/ggplot2...
4  https://api.github.com/repos/tidyverse/ggplot2...

                                          events_url  \
0  https://api.github.com/repos/tidyverse/ggplot2...
1  https://api.github.com/repos/tidyverse/ggplot2...
2  https://api.github.com/repos/tidyverse/ggplot2...
3  https://api.github.com/repos/tidyverse/ggplot2...
4  https://api.github.com/repos/tidyverse/ggplot2...

                                           html_url          id  \
0    https://github.com/tidyverse/ggplot2/pull/6744  3616135356
1    https://github.com/tidyverse/ggplot2/pull/6743  3615773035
2    https://github.com/tidyverse/ggplot2/pull/6742  3613301851
3  https://github.com/tidyverse/ggplot2/issues/6741  3611294242
4  https://github.com/tidyverse/ggplot2/issues/6740  3610382033

             node_id  number  \
0  PR_kwDNS-7OsvXCkA    6744
1  PR_kwDNS-7OsvDP8Q    6743
2  PR_kwDNS-7Oss9Sbw    6742
3   I_kwDNS-7O1z_6Ig    6741
4   I_kwDNS-7O1zIO0Q    6740

                                               title  ...  draft  \
0                 Rephrase `stat_ellipse(type)` docs  ...  False
1  Warn about simultaneous use of mapped and stat...  ...  False
2  Update default branch name for rstudio/cheatsh...  ...  False
3                              Release ggplot2 4.0.1  ...    NaN
4  Error in `translate_shape_string()`: ! Shape a...  ...    NaN

                                        pull_request  \
0  {'url': 'https://api.github.com/repos/tidyvers...
1  {'url': 'https://api.github.com/repos/tidyvers...
2  {'url': 'https://api.github.com/repos/tidyvers...
3                                                NaN
4                                                NaN

                                                body  closed_by  \
0  This PR aims to fix #6462.\r\n\r\nIt links to ...       None
1  This PR aims to fix #6429.\r\n\r\nInstead of i...       None
2  rstudio/cheatsheets now has main as the defaul...       None
3  Prepare for release:\n\n* [x] `git pull`\n* [x...       None
4  Hello, I have noticed that when using DimPlot,...       None

                                           reactions  \
0  {'url': 'https://api.github.com/repos/tidyvers...
1  {'url': 'https://api.github.com/repos/tidyvers...
2  {'url': 'https://api.github.com/repos/tidyvers...
3  {'url': 'https://api.github.com/repos/tidyvers...
4  {'url': 'https://api.github.com/repos/tidyvers...

                                        timeline_url performed_via_github_app  \
0  https://api.github.com/repos/tidyverse/ggplot2...                     None
1  https://api.github.com/repos/tidyverse/ggplot2...                     None
2  https://api.github.com/repos/tidyverse/ggplot2...                     None
3  https://api.github.com/repos/tidyverse/ggplot2...                     None
4  https://api.github.com/repos/tidyverse/ggplot2...                     None

   state_reason                                 sub_issues_summary  \
0          None                                                NaN
1          None                                                NaN
2          None                                                NaN
3          None  {'total': 0, 'completed': 0, 'percent_complete...
4          None  {'total': 0, 'completed': 0, 'percent_complete...

                          issue_dependencies_summary
0                                                NaN
1                                                NaN
2                                                NaN
3  {'blocked_by': 0, 'total_blocked_by': 0, 'bloc...
4  {'blocked_by': 0, 'total_blocked_by': 0, 'bloc...

[5 rows x 34 columns]

In [345]:
requests.get("http://api.github.com/repositories/19438/issues").json()

[{'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6744',
  'repository_url': 'https://api.github.com/repos/tidyverse/ggplot2',
  'labels_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6744/labels{/name}',
  'comments_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6744/comments',
  'events_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6744/events',
  'html_url': 'https://github.com/tidyverse/ggplot2/pull/6744',
  'id': 3616135356,
  'node_id': 'PR_kwDNS-7OsvXCkA',
  'number': 6744,
  'title': 'Rephrase `stat_ellipse(type)` docs',
  'user': {'login': 'teunbrand',
   'id': 49372158,
   'node_id': 'MDQ6VXNlcjQ5MzcyMTU4',
   'avatar_url': 'https://avatars.githubusercontent.com/u/49372158?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/teunbrand',
   'html_url': 'https://github.com/teunbrand',
   'followers_url': 'https://api.github.com/users/teunbrand/followers',
   'following_url': 'https://api.github.com/users/teunbrand/following{/other_user}',
   'gists_url': 'https://api.github.com/users/teunbrand/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/teunbrand/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/teunbrand/subscriptions',
   'organizations_url': 'https://api.github.com/users/teunbrand/orgs',
   'repos_url': 'https://api.github.com/users/teunbrand/repos',
   'events_url': 'https://api.github.com/users/teunbrand/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/teunbrand/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-11-12T11:25:51Z',
  'updated_at': '2025-11-12T11:25:51Z',
  'closed_at': None,
  'author_association': 'COLLABORATOR',
  'type': None,
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/pulls/6744',
   'html_url': 'https://github.com/tidyverse/ggplot2/pull/6744',
   'diff_url': 'https://github.com/tidyverse/ggplot2/pull/6744.diff',
   'patch_url': 'https://github.com/tidyverse/ggplot2/pull/6744.patch',
   'merged_at': None},
  'body': 'This PR aims to fix #6462.\r\n\r\nIt links to the covariate functions as suggested in the issue.',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6744/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6744/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6743',
  'repository_url': 'https://api.github.com/repos/tidyverse/ggplot2',
  'labels_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6743/labels{/name}',
  'comments_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6743/comments',
  'events_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6743/events',
  'html_url': 'https://github.com/tidyverse/ggplot2/pull/6743',
  'id': 3615773035,
  'node_id': 'PR_kwDNS-7OsvDP8Q',
  'number': 6743,
  'title': 'Warn about simultaneous use of mapped and static aesthetics',
  'user': {'login': 'teunbrand',
   'id': 49372158,
   'node_id': 'MDQ6VXNlcjQ5MzcyMTU4',
   'avatar_url': 'https://avatars.githubusercontent.com/u/49372158?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/teunbrand',
   'html_url': 'https://github.com/teunbrand',
   'followers_url': 'https://api.github.com/users/teunbrand/followers',
   'following_url': 'https://api.github.com/users/teunbrand/following{/other_user}',
   'gists_url': 'https://api.github.com/users/teunbrand/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/teunbrand/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/teunbrand/subscriptions',
   'organizations_url': 'https://api.github.com/users/teunbrand/orgs',
   'repos_url': 'https://api.github.com/users/teunbrand/repos',
   'events_url': 'https://api.github.com/users/teunbrand/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/teunbrand/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-11-12T09:47:14Z',
  'updated_at': '2025-11-12T09:47:14Z',
  'closed_at': None,
  'author_association': 'COLLABORATOR',
  'type': None,
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/pulls/6743',
   'html_url': 'https://github.com/tidyverse/ggplot2/pull/6743',
   'diff_url': 'https://github.com/tidyverse/ggplot2/pull/6743.diff',
   'patch_url': 'https://github.com/tidyverse/ggplot2/pull/6743.patch',
   'merged_at': None},
  'body': 'This PR aims to fix #6429.\r\n\r\nInstead of improving the \'no shared levels\' warning as implied by the issue, this PR separately warns about the simulatenous use of an aesthetic in `mapping` and as a fixed aesthetic. \r\n\r\n``` r\r\ndevtools::load_all("~/packages/ggplot2/")\r\n#>  Loading ggplot2\r\n\r\np <- ggplot(mpg, aes(displ, hwy)) +\r\n  geom_point(aes(size = cty), size = 12)\r\n#> Warning in geom_point(aes(size = cty), size = 12): The size aesthetic is defined twice: once in `mapping` and once as a static\r\n#> aesthetic.\r\n#>  The static aesthetic overrules the mapped aesthetic.\r\n```\r\n\r\nWe only do this when this occurs within a layer. If local fixed aesthetics contradict the global mapping, this is not a warning:\r\n\r\n``` r\r\n# silent\r\np <- ggplot(mpg, aes(displ, hwy, size = cty)) +\r\n  geom_point(size = 12)\r\n```\r\n\r\n<sup>Created on 2025-11-12 with [reprex v2.1.1](https://reprex.tidyverse.org)</sup>\r\n\r\nThis is because people can intentionally deviate the local aesthetic from global mappings to exempt that aesthetic from `inherit.aes`. In contrast, I don\'t think you can intentially have contradicting aesthetics in a single layer.\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6743/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6743/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6742',
  'repository_url': 'https://api.github.com/repos/tidyverse/ggplot2',
  'labels_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6742/labels{/name}',
  'comments_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6742/comments',
  'events_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6742/events',
  'html_url': 'https://github.com/tidyverse/ggplot2/pull/6742',
  'id': 3613301851,
  'node_id': 'PR_kwDNS-7Oss9Sbw',
  'number': 6742,
  'title': 'Update default branch name for rstudio/cheatsheets',
  'user': {'login': 'abhro',
   'id': 5664668,
   'node_id': 'MDQ6VXNlcjU2NjQ2Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/5664668?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/abhro',
   'html_url': 'https://github.com/abhro',
   'followers_url': 'https://api.github.com/users/abhro/followers',
   'following_url': 'https://api.github.com/users/abhro/following{/other_user}',
   'gists_url': 'https://api.github.com/users/abhro/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/abhro/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/abhro/subscriptions',
   'organizations_url': 'https://api.github.com/users/abhro/orgs',
   'repos_url': 'https://api.github.com/users/abhro/repos',
   'events_url': 'https://api.github.com/users/abhro/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/abhro/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-11-11T17:53:02Z',
  'updated_at': '2025-11-12T08:12:51Z',
  'closed_at': None,
  'author_association': 'NONE',
  'type': None,
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/pulls/6742',
   'html_url': 'https://github.com/tidyverse/ggplot2/pull/6742',
   'diff_url': 'https://github.com/tidyverse/ggplot2/pull/6742.diff',
   'patch_url': 'https://github.com/tidyverse/ggplot2/pull/6742.patch',
   'merged_at': None},
  'body': 'rstudio/cheatsheets now has main as the default branch instead of master',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6742/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6742/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6741',
  'repository_url': 'https://api.github.com/repos/tidyverse/ggplot2',
  'labels_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6741/labels{/name}',
  'comments_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6741/comments',
  'events_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6741/events',
  'html_url': 'https://github.com/tidyverse/ggplot2/issues/6741',
  'id': 3611294242,
  'node_id': 'I_kwDNS-7O1z_6Ig',
  'number': 6741,
  'title': 'Release ggplot2 4.0.1',
  'user': {'login': 'thomasp85',
   'id': 1775316,
   'node_id': 'MDQ6VXNlcjE3NzUzMTY=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/1775316?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/thomasp85',
   'html_url': 'https://github.com/thomasp85',
   'followers_url': 'https://api.github.com/users/thomasp85/followers',
   'following_url': 'https://api.github.com/users/thomasp85/following{/other_user}',
   'gists_url': 'https://api.github.com/users/thomasp85/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/thomasp85/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/thomasp85/subscriptions',
   'organizations_url': 'https://api.github.com/users/thomasp85/orgs',
   'repos_url': 'https://api.github.com/users/thomasp85/repos',
   'events_url': 'https://api.github.com/users/thomasp85/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/thomasp85/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-11-11T08:43:31Z',
  'updated_at': '2025-11-11T09:33:50Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'type': None,
  'active_lock_reason': None,
  'sub_issues_summary': {'total': 0, 'completed': 0, 'percent_completed': 0},
  'issue_dependencies_summary': {'blocked_by': 0,
   'total_blocked_by': 0,
   'blocking': 0,
   'total_blocking': 0},
  'body': "Prepare for release:\n\n* [x] `git pull`\n* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_ggplot2.html)\n* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)\n* [x] `urlchecker::url_check()`\n* [x] `devtools::build_readme()`\n* [x] `devtools::check(remote = TRUE, manual = TRUE)`\n* [x] `devtools::check_win_devel()`\n* [x] Update `cran-comments.md`\n* [x] `git push`\n* [ ] Have you built the book?\n\nSubmit to CRAN:\n\n* [x] `usethis::use_version('patch')`\n* [x] `devtools::submit_cran()`\n* [x] Approve email\n\nWait for CRAN...\n\n* [ ] Accepted :tada:\n* [ ] `usethis::use_github_release()`\n* [ ] `usethis::use_dev_version(push = TRUE)`\n",
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6741/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6741/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6740',
  'repository_url': 'https://api.github.com/repos/tidyverse/ggplot2',
  'labels_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6740/labels{/name}',
  'comments_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6740/comments',
  'events_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6740/events',
  'html_url': 'https://github.com/tidyverse/ggplot2/issues/6740',
  'id': 3610382033,
  'node_id': 'I_kwDNS-7O1zIO0Q',
  'number': 6740,
  'title': 'Error in `translate_shape_string()`: ! Shape aesthetic contains invalid values: 19.',
  'user': {'login': 'ltzyl',
   'id': 63895405,
   'node_id': 'MDQ6VXNlcjYzODk1NDA1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/63895405?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/ltzyl',
   'html_url': 'https://github.com/ltzyl',
   'followers_url': 'https://api.github.com/users/ltzyl/followers',
   'following_url': 'https://api.github.com/users/ltzyl/following{/other_user}',
   'gists_url': 'https://api.github.com/users/ltzyl/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/ltzyl/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/ltzyl/subscriptions',
   'organizations_url': 'https://api.github.com/users/ltzyl/orgs',
   'repos_url': 'https://api.github.com/users/ltzyl/repos',
   'events_url': 'https://api.github.com/users/ltzyl/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/ltzyl/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [{'id': 415860814,
    'node_id': 'MDU6TGFiZWw0MTU4NjA4MTQ=',
    'url': 'https://api.github.com/repos/tidyverse/ggplot2/labels/reprex',
    'name': 'reprex',
    'color': 'C5C295',
    'default': False,
    'description': 'needs a minimal reproducible example'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 5,
  'created_at': '2025-11-11T02:05:54Z',
  'updated_at': '2025-11-11T16:52:59Z',
  'closed_at': None,
  'author_association': 'NONE',
  'type': None,
  'active_lock_reason': None,
  'sub_issues_summary': {'total': 0, 'completed': 0, 'percent_completed': 0},
  'issue_dependencies_summary': {'blocked_by': 0,
   'total_blocked_by': 0,
   'blocking': 0,
   'total_blocking': 0},
  'body': 'Hello, I have noticed that when using DimPlot, it consistently reports the following error:\n`> DimPlot(rna_integrated_harmony,reduction = \'umap.harmony\')`\n> Rasterizing points since number of points exceeds 100,000.\nTo disable this behavior set `raster=FALSE`\nError in `translate_shape_string()`:\n! Shape aesthetic contains invalid values: 19.\nRun `rlang::last_trace()` to see where the error occurred.\n\nI am unaware of the reason, and the number of groups is far below 19.If I set raster to TRUE, it will work normally.\n\n\n> version.string R version 4.3.0 (2023-04-21)\n\n> packageVersion("Seurat") \n[1] \'5.1.0\'\n> packageVersion("ggplot2")\n[1] \'3.5.2\'\n> packageVersion("patchwork")\n[1] \'1.3.2\'\n> packageVersion("rlang")\n[1] \'1.1.6\'',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6740/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6740/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6739',
  'repository_url': 'https://api.github.com/repos/tidyverse/ggplot2',
  'labels_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6739/labels{/name}',
  'comments_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6739/comments',
  'events_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6739/events',
  'html_url': 'https://github.com/tidyverse/ggplot2/pull/6739',
  'id': 3608169423,
  'node_id': 'PR_kwDNS-7OsopOrA',
  'number': 6739,
  'title': 'Remove double thus',
  'user': {'login': 'arturcarvalho',
   'id': 2487710,
   'node_id': 'MDQ6VXNlcjI0ODc3MTA=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/2487710?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/arturcarvalho',
   'html_url': 'https://github.com/arturcarvalho',
   'followers_url': 'https://api.github.com/users/arturcarvalho/followers',
   'following_url': 'https://api.github.com/users/arturcarvalho/following{/other_user}',
   'gists_url': 'https://api.github.com/users/arturcarvalho/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/arturcarvalho/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/arturcarvalho/subscriptions',
   'organizations_url': 'https://api.github.com/users/arturcarvalho/orgs',
   'repos_url': 'https://api.github.com/users/arturcarvalho/repos',
   'events_url': 'https://api.github.com/users/arturcarvalho/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/arturcarvalho/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-11-10T13:54:51Z',
  'updated_at': '2025-11-12T08:17:04Z',
  'closed_at': None,
  'author_association': 'NONE',
  'type': None,
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/pulls/6739',
   'html_url': 'https://github.com/tidyverse/ggplot2/pull/6739',
   'diff_url': 'https://github.com/tidyverse/ggplot2/pull/6739.diff',
   'patch_url': 'https://github.com/tidyverse/ggplot2/pull/6739.patch',
   'merged_at': None},
  'body': "Hi there,\r\n\r\nI'm not a native English speaker, but I think removing one of these `thus` would improve the readability.\r\n\r\nHope this helps.",
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6739/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6739/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6738',
  'repository_url': 'https://api.github.com/repos/tidyverse/ggplot2',
  'labels_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6738/labels{/name}',
  'comments_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6738/comments',
  'events_url': 'https://api.github.com/repos/tidyverse/ggplot2/issues/6738/events',
  'html_url': 'https://github.com/tidyverse/ggplot2/pull/6738',
  'id': 3606828825,
  'node_id': 'PR_kwDNS-7Osnhk4A',
  'number': 6738,
  'title': 'Parity between folders in `R/` and in `tests/testthat/`',
  'user': {'login': 'teunbrand',
   'id': 49372158,
   'node_id': 'MDQ6VXNlcjQ5MzcyMTU4',
   'avatar_url': 'https://avatars.githubusercontent.com/u/49372158?v=4',

In [ ]:
# Content-Type = text/html---> bs4 module ----> Web Scrabing 
                                  |---------- BeautifulSoup
                                                 |------ soup obj---> methods()

In [346]:
import requests
r=requests.get("https://www.google.com")
r.status_code

200

In [348]:
gpage= r.text

In [349]:
import bs4
soup_obj= bs4.BeautifulSoup(gpage)
soup_obj.title

In [350]:
soup_obj.p

In [351]:
soup_obj.find('title')   # is same as soup_obj.title

In [352]:
soup_obj.find_all('p')

In [355]:
soup_obj.find('p')

In [356]:
soup_obj.find('p')['style']

'font-size:8pt;color:#636363'

In [357]:
soup_obj.find('p').get('style')

'font-size:8pt;color:#636363'

In [359]:
soup_obj.find_all('a')

[<a class="gb1" href="https://www.google.com/imghp?hl=en&amp;tab=wi">Images</a>,
 <a class="gb1" href="https://maps.google.co.in/maps?hl=en&amp;tab=wl">Maps</a>,
 <a class="gb1" href="https://play.google.com/?hl=en&amp;tab=w8">Play</a>,
 <a class="gb1" href="https://www.youtube.com/?tab=w1">YouTube</a>,
 <a class="gb1" href="https://news.google.com/?tab=wn">News</a>,
 <a class="gb1" href="https://mail.google.com/mail/?tab=wm">Gmail</a>,
 <a class="gb1" href="https://drive.google.com/?tab=wo">Drive</a>,
 <a class="gb1" href="https://www.google.co.in/intl/en/about/products?tab=wh" style="text-decoration:none"><u>More</u> </a>,
 <a class="gb4" href="http://www.google.co.in/history/optout?hl=en">Web History</a>,
 <a class="gb4" href="/preferences?hl=en">Settings</a>,
 <a class="gb4" href="https://accounts.google.com/ServiceLogin?hl=en&amp;passive=true&amp;continue=https://www.google.com/&amp;ec=GAZAAQ" id="gb_70" target="_top">Sign in</a>,
 <a href="/advanced_search?hl=en-IN&amp;authuser=0">Advanced search</a>,
 <a href="https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&amp;hl=hi&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAY"></a>,
 <a href="https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&amp;hl=bn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAc"></a>,
 <a href="https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&amp;hl=te&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAg"></a>,
 <a href="https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&amp;hl=mr&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAk"></a>,
 <a href="https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&amp;hl=ta&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAo"></a>,
 <a href="https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&amp;hl=gu&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAs"></a>,
 <a href="https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&amp;hl=kn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAw"></a>,
 <a href="https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&amp;hl=ml&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCA0"></a>,
 <a href="https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&amp;hl=pa&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCA4"></a>,
 <a href="/intl/en/ads/">Advertising</a>,
 <a href="http://www.google.co.in/services/">Business Solutions</a>,
 <a href="/intl/en/about.html">About Google</a>,
 <a href="https://www.google.com/setprefdomain?prefdom=IN&amp;prev=https://www.google.co.in/&amp;sig=K_KrD61xppYGUvcX2ePoLPxiB1RBo%3D">Google.co.in</a>,
 <a href="/intl/en/policies/privacy/">Privacy</a>,
 <a href="/intl/en/policies/terms/">Terms</a>]

In [360]:
for var in soup_obj.find_all('a'):
    print(var.get('href'))

https://www.google.com/imghp?hl=en&tab=wi
https://maps.google.co.in/maps?hl=en&tab=wl
https://play.google.com/?hl=en&tab=w8
https://www.youtube.com/?tab=w1
https://news.google.com/?tab=wn
https://mail.google.com/mail/?tab=wm
https://drive.google.com/?tab=wo
https://www.google.co.in/intl/en/about/products?tab=wh
http://www.google.co.in/history/optout?hl=en
/preferences?hl=en
https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/&ec=GAZAAQ
/advanced_search?hl=en-IN&authuser=0
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=hi&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAY
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=bn&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAc
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=te&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAg
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=mr&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAk
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=ta&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAo
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=gu&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAs
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=kn&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAw
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=ml&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCA0
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=pa&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCA4
/intl/en/ads/
http://www.google.co.in/services/
/intl/en/about.html
https://www.google.com/setprefdomain?prefdom=IN&prev=https://www.google.co.in/&sig=K_KrD61xppYGUvcX2ePoLPxiB1RBo%3D
/intl/en/policies/privacy/
/intl/en/policies/terms/

In [362]:
import re
URLs=[]
for var in soup_obj.find_all('a'):
    if(re.search('^http',var.get('href'))):   # filter / find pattern line start with http
         URLs.append(var.get('href'))  

for i in URLs:
    print(i)

https://www.google.com/imghp?hl=en&tab=wi
https://maps.google.co.in/maps?hl=en&tab=wl
https://play.google.com/?hl=en&tab=w8
https://www.youtube.com/?tab=w1
https://news.google.com/?tab=wn
https://mail.google.com/mail/?tab=wm
https://drive.google.com/?tab=wo
https://www.google.co.in/intl/en/about/products?tab=wh
http://www.google.co.in/history/optout?hl=en
https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/&ec=GAZAAQ
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=hi&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAY
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=bn&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAc
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=te&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAg
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=mr&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAk
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=ta&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAo
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=gu&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAs
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=kn&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAw
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=ml&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCA0
https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=pa&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCA4
http://www.google.co.in/services/
https://www.google.com/setprefdomain?prefdom=IN&prev=https://www.google.co.in/&sig=K_KrD61xppYGUvcX2ePoLPxiB1RBo%3D

In [364]:
d={}
d['k']=URLs   
d

{'k': ['https://www.google.com/imghp?hl=en&tab=wi',
  'https://maps.google.co.in/maps?hl=en&tab=wl',
  'https://play.google.com/?hl=en&tab=w8',
  'https://www.youtube.com/?tab=w1',
  'https://news.google.com/?tab=wn',
  'https://mail.google.com/mail/?tab=wm',
  'https://drive.google.com/?tab=wo',
  'https://www.google.co.in/intl/en/about/products?tab=wh',
  'http://www.google.co.in/history/optout?hl=en',
  'https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/&ec=GAZAAQ',
  'https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=hi&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAY',
  'https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=bn&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAc',
  'https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=te&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAg',
  'https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=mr&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAk',
  'https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=ta&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAo',
  'https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=gu&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAs',
  'https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=kn&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCAw',
  'https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=ml&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCA0',
  'https://www.google.com/setprefs?sig=0_lPjpW_xHgoa8vF_kEItr008lruo%3D&hl=pa&source=homepage&sa=X&ved=0ahUKEwiCsbzvwuyQAxW5lZUCHdpCBEAQ2ZgBCA4',
  'http://www.google.co.in/services/',
  'https://www.google.com/setprefdomain?prefdom=IN&prev=https://www.google.co.in/&sig=K_KrD61xppYGUvcX2ePoLPxiB1RBo%3D']}

In [365]:
pd.DataFrame(d)

                                                    k
0           https://www.google.com/imghp?hl=en&tab=wi
1         https://maps.google.co.in/maps?hl=en&tab=wl
2               https://play.google.com/?hl=en&tab=w8
3                     https://www.youtube.com/?tab=w1
4                     https://news.google.com/?tab=wn
5                https://mail.google.com/mail/?tab=wm
6                    https://drive.google.com/?tab=wo
7   https://www.google.co.in/intl/en/about/product...
8        http://www.google.co.in/history/optout?hl=en
9   https://accounts.google.com/ServiceLogin?hl=en...
10  https://www.google.com/setprefs?sig=0_lPjpW_xH...
11  https://www.google.com/setprefs?sig=0_lPjpW_xH...
12  https://www.google.com/setprefs?sig=0_lPjpW_xH...
13  https://www.google.com/setprefs?sig=0_lPjpW_xH...
14  https://www.google.com/setprefs?sig=0_lPjpW_xH...
15  https://www.google.com/setprefs?sig=0_lPjpW_xH...
16  https://www.google.com/setprefs?sig=0_lPjpW_xH...
17  https://www.google.com/setprefs?sig=0_lPjpW_xH...
18  https://www.google.com/setprefs?sig=0_lPjpW_xH...
19                  http://www.google.co.in/services/
20  https://www.google.com/setprefdomain?prefdom=I...