In [2]:
import pandas
pandas

In [ ]:
__init__()   constructor in class   vs   __init__.py   Package

dir1
|---p1.py
|---p2.py
|---p3.py
|---__init__.py (package file-->import modulenames..

In [5]:
print(pandas.Series)

<class 'pandas.core.series.Series'>

In [4]:
print(pandas.DataFrame)

<class 'pandas.core.frame.DataFrame'>

In [ ]:
pandas/
|
-----core/
       |----frame.py
                |------class Dataframe

In [6]:
import pandas as pd
pd.Series([10,20,30,40])

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
pd.DataFrame([10,20,30,40])

    0
0  10
1  20
2  30
3  40

In [10]:
products={}
products['pid']=[101,102,103,104]
products['pname']=['pA','pB','pC','pD']
products['pcost']=[1000,2000,3000,4000]
products

{'pid': [101, 102, 103, 104],
 'pname': ['pA', 'pB', 'pC', 'pD'],
 'pcost': [1000, 2000, 3000, 4000]}

In [14]:
pd.DataFrame(products)

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000

In [15]:
df=pd.DataFrame(products)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     4 non-null      int64
 1   pname   4 non-null      object
 2   pcost   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [16]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
df.columns

Index(['pid', 'pname', 'pcost'], dtype='object')

In [19]:
# To fetch data - row based ==>   df.loc[index]-> record
#

In [21]:
df.loc[1]

pid       102
pname      pB
pcost    2000
Name: 1, dtype: object

In [22]:
df.loc[0]

pid       101
pname      pA
pcost    1000
Name: 0, dtype: object

In [ ]:
#To fetch column => df[columnname] -> column

In [23]:
df['pid']

0    101
1    102
2    103
3    104
Name: pid, dtype: int64

In [24]:
df['pname']

0    pA
1    pB
2    pC
3    pD
Name: pname, dtype: object

In [ ]:
# df=pf.dataFrame(d)
#df.info()
#df.index
#df.columns
#df.loc[index]
#df['columnName']

In [25]:
df

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000

In [27]:
df.loc[1]['pname']

'pB'

In [ ]:
#Task
# Add more product - dict-- do append operation
#     |-------------> initialze a DataFrame 
 #                                |-----------------fetch Row
                                #|---------------fetch column

In [29]:
df.loc[1].to_frame()

          1
pid     102
pname    pB
pcost  2000

In [31]:
df.loc[[1]].T

          1
pid     102
pname    pB
pcost  2000

In [32]:
products={}
products['pid']=[101,102,103,104]      
products['pname']=['pA','pB','pC','pD']
products['pcost']=[1000,2000,3000,4000]

In [33]:
L=[105,106,107]
products['pid']=products['pid']+L
products['pid']

[101, 102, 103, 104, 105, 106, 107]

In [34]:
products={}
products['pid']=[101,102,103,104]      
products['pname']=['pA','pB','pC','pD']
products['pcost']=[1000,2000,3000,4000]

products['pid'].append(104)
products['pname'].append('pD')
products['pcost'].append(4000)

products['pid'].append(105)
products['pname'].append('pE')
products['pcost'].append(6000)

products['pid'].append(106)
products['pname'].append('pF')
products['pcost'].append(7000)

products['pid'].append(107)
products['pname'].append('pG')
products['pcost'].append(8000)

In [35]:
df2=pd.DataFrame(products)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     8 non-null      int64
 1   pname   8 non-null      object
 2   pcost   8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes

In [36]:
df2['pid']

0    101
1    102
2    103
3    104
4    104
5    105
6    106
7    107
Name: pid, dtype: int64

In [37]:
df2.loc[2]

pid       103
pname      pC
pcost    3000
Name: 2, dtype: object

In [39]:
df2.loc[2]

pid       103
pname      pC
pcost    3000
Name: 2, dtype: object

In [40]:
df2.loc[2:]   # from 2nd index to list of all - Slicing

   pid pname  pcost
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [41]:
df2.loc[2:5]

   pid pname  pcost
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000

In [42]:
df2.loc[:3]

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000

In [43]:
df2.loc[:]  # is same as df2

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [ ]:
# df=pf.dataFrame(d)
#df.info()
#df.index
#df.columns
#df.loc[index]
#df['columnName']
#df.loc[index]['columnName']
#df.loc[n:]
#df.loc[:m]
#df.loc[n:m]

In [44]:
df2.loc[[2,5]]

   pid pname  pcost
2  103    pC   3000
5  105    pE   6000

In [45]:
df2

   pid pname  pcost
0  101    pA   1000
1  102    pB   2000
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000
6  106    pF   7000
7  107    pG   8000

In [46]:
df2.loc[[2,5,7]]

   pid pname  pcost
2  103    pC   3000
5  105    pE   6000
7  107    pG   8000

In [ ]:
#  df2[[2,5]]            vs     df2[2:5]

In [49]:
df2.loc[2:5]

   pid pname  pcost
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000

In [50]:
df2.loc[[2,5]]

   pid pname  pcost
2  103    pC   3000
5  105    pE   6000

In [51]:
df2.loc[3]['pname']

'pD'

In [52]:
df2.loc[3]

pid       104
pname      pD
pcost    4000
Name: 3, dtype: object

In [53]:
df2.loc[3]['pname']

'pD'

In [54]:
df2.loc[3][['pname','pcost']]

pname      pD
pcost    4000
Name: 3, dtype: object

In [55]:
df2.loc[2:5]

   pid pname  pcost
2  103    pC   3000
3  104    pD   4000
4  104    pD   4000
5  105    pE   6000

In [56]:
df2.loc[2:5][['pname','pcost']]  # from rnd row to 5th row- filter productName,productCost

  pname  pcost
2    pC   3000
3    pD   4000
4    pD   4000
5    pE   6000

In [59]:
df2.loc[2:5]['pname']   # Series Format result

2    pC
3    pD
4    pD
5    pE
Name: pname, dtype: object

In [60]:
df2.loc[2:5][['pname']]   # DataFrame Format

  pname
2    pC
3    pD
4    pD
5    pE

In [61]:
# filter productId and productName from 5th record to list of all 
df2.loc[5:][['pid','pname']]

   pid pname
5  105    pE
6  106    pF
7  107    pG

In [62]:
df2.loc[5:][['pid','pname']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 5 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     3 non-null      int64
 1   pname   3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [63]:
df2.loc[5:][['pid','pname']].index

RangeIndex(start=5, stop=8, step=1)

In [64]:
df2.loc[5:][['pid','pname']].columns

Index(['pid', 'pname'], dtype='object')